/* BODY */
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../img/bg-login.jpg) center;
    background-size: cover;
}

/* ALERTA */
.alerta{
    position: absolute;
    top: 0;
    background: #fff;
    border-radius: 100px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
    opacity: 0;
    animation: alerta 3s ease;
}

.alerta p{
    white-space: nowrap;
    margin: 10px 25px;
}

/* LOGIN */
.login{
    width: 750px;
    flex-direction: row;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
    overflow: hidden;
}

/* mensagem */
.login .mensagem{
    width: 45%;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    background: #fff;
    background: url(../img/bg-mensagem.png) #ef473a;
    background-size: cover;
    padding: 25px;
}

.login .mensagem h1{
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.5;
}

.login .mensagem h1::after{
    content: "";
    width: 50px;
    height: 2px;
    display: block;
    background: #fff;
    border-radius: 100px;
    transform: translateX(-50%);
    margin: 5px 0 0 50%;
}

.login .mensagem p{
    margin: 25px;
}

.login .mensagem .btn-cadastro{
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ef473a;
    font-weight: 500;
    background: #fff;
    border-radius: 100px;
}

/* formulario */
.login .formulario{
    width: 55%;
    background: #fff;
    padding: 50px;
}

.login .formulario h3{
    color: #333;
    font-size: 1.4rem;
    font-weight: 700;
}

/* opcao */
.login .formulario .opcao{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: .9rem;
    margin-top: 25px;
}

.login .formulario .opcao input[type=checkbox]{
    width: 0;
    height: 0;
    position: absolute;
    transform: scale(0);
}

.login .formulario .opcao label{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-left: 25px;
}

.login .formulario .opcao label i{
    position: absolute;
    color: #333;
    opacity: 0;
    transform: translateX(-80px) scale(0);
    transition: .2s all;
}

.checked{
    color: #ef473a!important;
    opacity: 1!important;
    transform: translateX(-80px) scale(1)!important;
}

.checked:nth-child(1){
    color: #333!important;
}

.login .formulario .opcao a{
    color: #000;
}

.login .formulario .divisao{
    width: 100%;
    color: #aaa;
    text-align: center;
}

.login .formulario .divisao::after{
    content: "";
    width: 100px;
    height: 1px;
    position: absolute;
    background: #aaa;
    border-radius: 100px;
    transform: translate(25px, 15px);
}

.login .formulario .divisao::before{
    content: "";
    width: 100px;
    height: 1px;
    position: absolute;
    background: #aaa;
    border-radius: 100px;
    transform: translate(-125px, 15px);
}

/* social */
.login .formulario .social{
    width: 100%;
    flex-direction: row;
}

.login .formulario .social a{
    width: 50%;
    height: 45px;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 100px;
    cursor: pointer;
    margin: 25px 20px 0 20px;
}

.login .formulario .social a:nth-child(1){
    background: #3b5998;
    margin-left: 0;
}

.login .formulario .social a:nth-child(2){
    background: #db4437;
    margin-right: 0;
}

/* MEDIAS */
@media(max-width: 750px){
    /* BODY */
    body{
        padding: 50px 10px;
    }
    /* LOGIN */
    .login{
        width: 500px;
        flex-direction: column-reverse;
    }
    /* mensagem */
    .login .mensagem{
        width: 100%;
        margin-top: 25px;
        border-radius: 20px;
    }
    /* formulario */
    .login .formulario{
        width: 100%;
        border-radius: 20px;
    }
}

@media(max-width: 500px){
    /* LOGIN */
    .login{
        width: 100%;
    }
    /* formulario */
    .login .formulario{
        padding: 50px 25px;
    }
    /* opcoes */
    .login .formulario .opcao{
        flex-direction: column;
        align-items: flex-start;
    }
    .login .formulario .opcao p{
        margin-bottom: 10px;
    }
    /* divisao */
    .login .formulario .divisao::after{
        width: 50px;
    }
    .login .formulario .divisao::before{
        width: 50px;
        transform: translate(-75px, 15px);
    }
}

/* KEYFRAMES */
@keyframes alerta{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    10%{
        opacity: 1;
        transform: translateY(30px);
    }
    90%{
        opacity: 1;
        transform: translateY(30px);
    }
    100%{
        opacity: 0;
        transform: translateY(40px);
    }
}