/* LOAD */
.load{
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .1);
    z-index: 3;
}

.loader{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 4px solid transparent;
    border-top-color: #cb2d3e;
    animation: spin 2s linear infinite;
}

.loader::before{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 100px;
    border: 4px solid transparent;
    border-top-color: #ef473a;
    animation: spin 3s linear infinite;
}

.loader::after{
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 100px;
    border: 4px solid transparent;
    border-top-color: #cb2d3e;
    animation: spin 1.5s linear infinite;
}

/* MENSAGEM */
.mensagem{
    width: 100%;
    position: fixed;
    display: none;
    top: 50px;
    justify-content: center;
    align-items: center;
    animation: mensagem 5s;
    z-index: 4;
}
.mensagem p{
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
    border-radius: 100px;
    box-shadow: 0 .8px 2px rgba(0, 0, 0, .3);
    overflow: hidden;
    padding: 10px 20px;
}

.mensagem p a{
    display: inline;
    color: #ef473a;
}

/* MODAL */
/* fornecedores */
.modal.fornecedores{
    width: 500px;
}

.fornecedores .header{
    height: 75px;
}

.fornecedores .info{
    height: 300px;
    flex-direction: row;
    padding: 0;
}

.fornecedores .info .mapaFornecedor{
    width: 40%;
    height: 100%;
    background: #eee;
}

.fornecedores .info .mapaFornecedor a{
    width: 100%;
    height: 100%;
}

.fornecedores .info .sobre{
    width: 60%;
    height: 100%;
    justify-content: space-between;
    background: #fff;
    padding: 25px;
}

.fornecedores .info .sobre .rs{
    width: 100%;
    color: #ef473a;
    font-size: 1.4rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.fornecedores .info .sobre .link{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #ef473a;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 15px;
}

.fornecedores .info .sobre .link i{
    margin-right: 10px;
}

/* chat */
.modal.chat{
    width: 350px;
}

.chat .info .campo{
    margin-top: 25px;
}

.chat .info button{
    margin-bottom: 0;
}

/* BTN-NAV */
.btn-menu{
    height: 45px;
    flex-direction: row;
    align-items: center;
    color: #fff;
    background: #ef463a;
}

.btn-menu p{
    margin-left: 5px;
}

/* NAV */
.menu .info h3{
    color: #999;
    font-size: 1.1rem;
    margin-top: 25px;
}

.menu .info h3:nth-child(1){
    margin-top: 0;
}

.menu .info .btn-filtro{
    margin-top: 25px;
}

/* BANNER */
.banner{
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(../img/bg-busca.jpg) center;
    background-size: cover;
    padding-top: 25px;
}

.banner h1{
    color: #fff;
    font-size: 1.8rem;
}

.banner p{
    color: #ddd;
}

/* RESULTADOS */
.resultados{
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

/* filtro */
.resultados .filtro{
    width: 30%;
    padding: 25px 50px;
}

.btn-filtro{
    width: 100%;
    min-height: 45px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    background: #ef473a;
    border-radius: 100px;
    cursor: pointer;
}

.btn-filtro input{
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    z-index: 2;
}

.btn-filtro i{
    position: absolute;
    display: flex;
    align-items: center;
}

.btn-filtro i p{
    font-family: "Montserrat";
    font-size: 1.2rem;
    margin-left: 10px;
}

/* info */
.resultados .filtro .info{
    width: 100%;
}

.resultados .filtro .info h3{
    color: #999;
    font-size: 1.1rem;
    margin-top: 25px;
}

.info .campo .option{
    width: 200px;
    max-height: 200px;
    transform: translateY(55px);
}

.info .fornecedor{
    width: 100%;
    text-overflow: ellipsis;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 15px;
}

.info .fornecedor i{
    position: absolute;
    color: #333;
    transform: scale(0) translateY(3px);
    opacity: 0;
    transition: .2s all;
}

.check{
    color: #ef473a!important;
    transform: scale(1) translateY(3px)!important;
    opacity: 1!important;
}

.check:nth-child(2){
    color: #333!important;
}

.range{
    position: relative;
    flex-direction: row;
    margin: 15px 0 60px 0;
}

.range input{
    position: absolute;
}

.range .preco{
    width: 80px;
    height: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    border-radius: 100px;
    transform: translateY(40px);
}

.range .preco.max{
    margin-left: 100%;
    transform: translate(-100%, 40px);
}

.info .fornecedor input[type=radio]{
    width: 0;
    height: 0;
    transform: scale(0);
}

.info .fornecedor strong{
    margin-left: 25px;
}

/* peca */
.resultados .peca{
    width: 70%;
    padding: 25px;
}

.resultados .organizador{
    width: 100%;
    min-height: 45px;
    max-height: 45px;
    flex-direction: row;
}

/* pesquisa */
.resultados .organizador .pesquisa{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    pointer-events: none;
    transition: .3s all;
}

.pesquisa-ativa{
    color: #ccc!important;
    pointer-events: all!important;
    box-shadow: 0 .5px 2px rgba(0, 0, 0, .3)!important;
}

.pesquisa-ativa i{
    color: #ef473a!important;
    box-shadow: none!important;
}

.resultados .organizador .pesquisa i{
    color: #eee;
    border-radius: 100px;
    padding: 10px 15px;
    transition: .3s all;
}

.resultados .organizador .pesquisa input{
    width: 100%;
    height: 100%;
    font-family: "Raleway";
    font-size: 1.1rem;
    background: none;
    border: none;
    outline: none;
    padding: 0;
}

/* visualizacao */
.resultados .visualizacao{
    min-width: 45px;
    height: 45px;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 2px solid #ef473a;
    border-radius: 100%;
    cursor: pointer;
    margin-left: 25px;
}

.resultados .visualizacao i{
    position: absolute;
    opacity: 0;
    transform: scale(0);
    padding: 10px;
    transition: .3s all;
}

.visualizacao-ativa{
    color: #ef473a!important;
    opacity: 1!important;
    transform: scale(1)!important;
}

.resultados .peca h1{
    color: #333;
    font-size: 1.5rem;
    margin: 25px 0;
}

/* lista */
.resultados .lista{
    padding: 0;
}

/* item */
.resultados .lista .item{
    width: 100%;
    height: 200px;
    flex-direction: row;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    overflow: hidden;
    margin-bottom: 25px;
}

/* img */
.resultados .lista .img{
    min-width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    overflow: hidden;
}

.resultados .lista .img img{
    width: 100%;
    height: 100%;
}

/* info */
.resultados .lista .info{
    width: 100%;
    position: relative;
    justify-content: space-between;
    padding: 25px;
}

.resultados .lista .info .nome{
    width: 100%;
    min-height: 45px;
    color: #333;
    font-size: 1.3rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.resultados .lista .info .descricao{
    font-size: 1rem;
    overflow: hidden;
}

.resultados .lista .info .preco{
    color: #ef473a;
    font-size: 1.5rem;
}

/* opcoes */
.resultados .lista .opcoes{
    min-width: 75px;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.resultados .lista .opcoes .opcao{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    border-radius: 100px;
    cursor: pointer;
}

.resultados .lista .opcoes .opcao i{
    color: #333;
    user-select: none;
    transition: .3s all;
}

.resultados .lista .opcoes input{
    display: none;
}

/* sobre */
.resultados .lista .opcoes .sobre i{
    color: #3a4962;
}

/* chat */
.resultados .lista .opcoes .chat i{
    color: #3a49625b;
}

.chat i.ativado{
    color: #3a4962!important;
}

/* favoritos */
.resultados .lista .opcoes .favoritos i{
    color: #cb2d3d6b;
    position: absolute;
}

.favoritos i.favoritado{
    color: #cb2d3e!important;
    animation: favoritar .7s ease;
}

/* paginacao */
.resultados .lista .paginacao{
    padding: 25px;
}

.resultados .lista .paginacao .pagina{
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.resultados .lista .paginacao .pagina .indice{
    min-width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ef473a;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 0 .5px 2px rgba(0, 0, 0, .2);
    margin: 0 10px;
}

.indice.disabled{
    color: #fff!important;
    background: #ef473a;
    pointer-events: none;
}

/* mapa */
.resultados .mapa{
    height: 600px;
    display: none;
}

.header-mapa{
    padding: 5px;
    box-shadow: none;
}

.gm-style-iw{
    max-width: 300px!important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2)!important;
}

.header-mapa h3{
    width: 100%;
    font-size: 1.1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.header-mapa p{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 15px 0;
}

.header-mapa a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1rem;
    background: #ef473a;
    border-radius: 100px;
    white-space: nowrap;
    padding: 10px 25px;
}

.header-mapa a i{
    font-size: 20px;
    margin-right: 5px;
}

/* MEDIAS */
@media(max-width: 1000px){
    /* RESULTADOS */
    /* filtro */
    .resultados .filtro{
        display: none;
    }
    /* peca */
    .resultados .peca{
        width: 100%;
    }
}

@media(max-width: 700px){
    /* BANNER */
    .banner{
        height: auto;
        padding: 75px 25px 50px 25px;
    }
    .banner h1{
        font-size: 1.5rem;
    }
    /* RESULTADOS */
    /* item */
    .resultados .lista .item{
        height: auto;
        flex-direction: column;
    }
    .resultados .lista .item .img{
        width: 100%;
        min-width: auto;
        height: 200px;
    }
    .resultados .lista .item .opcoes{
        width: 100%;
        height: auto;
        min-width: auto;
        min-height: 75px;
        flex-direction: row;
    }
}

@media(max-width: 500px){
    /* MODAL */
    /* fornecedores */
    .fornecedores .info{
        flex-direction: column;
    }
    .fornecedores .info .mapaFornecedor{
        width: 100%;
    }
    .fornecedores .info .sobre{
        width: 100%;
    }
}

/* KEYFRAMES */
@keyframes favoritar{
    0%{
        color: #cb2d3d6b;
        transform: scale(0);
    }
    25%{
        transform: scale(1.4);
    }
    75%{
        transform: scale(.9);
    }
    100%{
        color: #cb2d3e;
        transform: scale(1);
    }
}

@keyframes mensagem{
    0%{
        transform: translateY(25px);
        opacity: 0;
    }
    5%{
        transform: translateY(0);
        opacity: 1;
    }
    95%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(25px);
        opacity: 0;
    }
}

@keyframes spin{
    0%{
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}