/* MODAL */
.container-modal{
    z-index: 3;
}
/* descricao */
.modal.descricao{
    width: 320px;
}

.modal.descricao .campo{
    margin-top: 25px;
}

.modal.descricao input[type=submit]{
    margin-bottom: 0;
}

/* editar - pecas */
.modal.edicao{
    width: 400px;
    height: 450px;
}

.modal.edicao::-webkit-scrollbar{
    display: none;
}

/* info */
.modal.edicao .info{
    padding: 25px 25px 75px 25px;
}

.modal.edicao .info .campo .option{
    transform: translateY(55px);
}

/* textarea */
.modal.edicao .info .textarea{
    position: relative;
}

.modal.edicao .info .textarea p{
    position: absolute;
    top: 100%;
    left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    transform: translate(-60px, -40px);
}

.modal.edicao .info .textarea p strong{
    margin-left: 10px;
}

/* file */
.modal.edicao .info .file input{
    width: 0;
    height: 0;
    position: absolute;
    transform: scale(0);
}

.modal.edicao .info .file label{
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #eee;
    cursor: pointer;
}

.modal.edicao .info .file label i{
    color: #ef473a;
    margin: 0 15px;
}

.modal.edicao .info .file label .nome{
    color: #555;
}

/* footer */
.modal.edicao .footer input[type=submit]{
    min-height: 100%;
    max-height: 100%;
    border-radius: 0;
    margin: 0;
}

/* excluir */
.modal.excluir{
    width: 350px;
    height: 200px;
    overflow: hidden;
}

.modal.excluir .info h3{
    font-size: 1.1rem;
}

.modal.excluir .info .nome{
    width: 100%;
    font-size: 1.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.modal.excluir .info input[type=submit]{
    width: 150px;
}

/* ALERTA */
.alerta{
    position: absolute;
    top: 0;
    left: 50%;
    background: #fff;
    border-radius: 100px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
    opacity: 0;
    animation: alerta 3s ease;
    z-index: 2;
}

.alerta p{
    white-space: nowrap;
    margin: 10px 25px;
}
/* NAV */
.menu{
    position: fixed;
    justify-content: flex-start;
    z-index: 2;
}
/* header */
.menu .header{
    background: url(../img/bg-nav.jpg);
    background-size: cover;
}
.menu .header .opcoes a{
    color: #fff;
}
/* guia */
.menu .guia .aba{
    margin: 0!important;
}

.menu .guia .aba:nth-child(2n){
    margin-bottom: 15px!important;
}

.menu .guia .aba:nth-child(2){
    margin-top: 15px;
}

/* CONTAINER */
.container{
    width: 100%;
    display: none;
    position: relative;
}

.container > h3{
    font-size: 1.3rem;
}

.container > h3::after{
    content: "";
    width: 100px;
    height: 2px;
    display: block;
    background: #ef473a;
}

/* EDIÇÃO */
/* BTN-FLOAT */
.btn-float{
    width: auto;
    height: 45px;
    display: none;
    top: 95%;
    left: 95%;
    flex-direction: row;
    color: #fff;
    background: #ef473a;
    box-shadow: none;
    transform: translate(-100%, -100%);
    padding: 5px 25px;
}

.btn-float p{
    margin-left: 10px;
}

/* filtro */
.edicao .filtro{
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: flex-end;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

/* filtro-pecas */
.edicao .filtro .filtro-pecas{
    width: 100%;
    height: 200px;
    background: #fff;
    transform: translateY(200px);
    transition: .2s all;
}

.filtro-pecas.ativo{
    transform: translateY(0)!important;
}

/* header */
.edicao .filtro .filtro-pecas .header{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background: #ef473a;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
    padding: 7px 25px;
}

.edicao .filtro .filtro-pecas .header h3{
    color: #fff;
    font-size: 1.2rem;
}

.edicao .filtro .filtro-pecas .header .btn-reset{
    width: auto;
    padding: 0;
    margin: 0;
}

.edicao .filtro .filtro-pecas .header .btn-reset i{
    font-size: 25px;
    color: #ef3a3a;
    background: #fff;
    border-radius: 100%;
    padding: 5px;
}

/* info */
.edicao .filtro .filtro-pecas .info{
    width: 100%;
    flex-direction: row;;
    flex-wrap: wrap;
    padding: 15px 10px;
}

/* campo */
.edicao .filtro .filtro-pecas .campo{
    width: 33%;
    margin: 0 0 15px 0;
}
.edicao .filtro .campo input{
    border: none!important;
    border-radius: 100px;
}
.edicao .filtro .campo .option{
    transform: translateY(-150px);
}

/* submit */
.edicao .filtro .filtro-pecas input[type=submit]{
    width: 100%;
    margin: 0;
}

/* pesquisa */
.edicao .pesquisa{
    height: 45px;
    flex-direction: row;
    margin-top: 25px;
}
.edicao .pesquisa input{
    height: 100%;
    border: none;
    border-radius: 100px;
    box-shadow: 0 .5px 2px rgba(0, 0, 0, .3);
    padding-left: 25px;
}

.edicao .pesquisa .btn-pesquisa{
    min-width: 125px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #ef473a;
    border-radius: 100px;
    cursor: pointer;
    margin-left: 25px;
}

.edicao .pesquisa .btn-pesquisa p{
    margin-left: 10px;
}

/* lista */
.edicao .lista{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.edicao .lista .msg{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    margin-top: 25px;
}

.edicao .lista .msg i{
    font-size: 50px;
    color: #ef3a3a;
    border-radius: 100px;
    margin-right: 15px;
}

/* peca */
.edicao .lista .peca{
    width: 22%;
    height: 350px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, .3);
    overflow: hidden;
    margin: 30px 1.5%;
    transition: .2s all;
}

.peca:hover .img, .peca:hover .info, .peca:hover .actions{
    transform: translateY(-50px);
}

/* img */
.edicao .lista .peca .img{
    width: 100%;
    min-height: 175px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .2s all;
}

.edicao .lista .peca .img img{
    width: 100%;
    height: 100%;
}

/* info */
.edicao .lista .peca .info{
    width: 100%;
    min-height: 175px;
    padding: 15px;
    transition: .2s all;
}

.edicao .lista .peca .info .nome{
    width: 100%;
    font-size: 1.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.edicao .lista .peca .info .esp{
    width: 100%;
    color: #aaa;
    font-size: .9rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 10px;
}

.edicao .lista .peca .info .descricao{
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 5px;
}

.edicao .lista .peca .info .preco{
    width: 100%;
    color: #ef3a3a;
    font-size: 1.5rem;
}

/* actions */
.edicao .lista .peca .actions{
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    transition: .2s all;
}

.edicao .lista .peca .actions a{
    width: 50%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.edicao .lista .peca .actions a:nth-child(1){
    background: #ef823a;
}

.edicao .lista .peca .actions a:nth-child(2){
    background: #ef3a3a;
}

.edicao .lista .peca .actions a i{
    color: #fff;
    font-size: 25px;
}

/* paginacao */
.edicao .paginacao{
    padding: 25px;
}

.edicao .paginacao .pagina{
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.edicao .paginacao .pagina .indice{
    min-width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ef473a;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 0 .5px 2px rgba(0, 0, 0, .2);
    margin: 0 10px;
}

.indice.disabled{
    color: #fff!important;
    background: #ef473a;
    pointer-events: none;
}

/* CADASTRO */
/* form */
.cadastro form{
    margin-top: 0px;
}

/* select */
.cadastro form .option{
    max-height: 250px;
    transform: translateY(53px);
}

/* textarea */
.cadastro form .textarea{
    position: relative;
}

.cadastro form .textarea p{
    position: absolute;
    top: 100%;
    left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    transform: translate(-60px, -40px);
}

.cadastro form .textarea p strong{
    margin-left: 10px;
}

/* file */
.cadastro form .file input{
    width: 0;
    height: 0;
    position: absolute;
    transform: scale(0);
}

.cadastro form .file label{
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #eee;
    cursor: pointer;
}

.cadastro form .file label i{
    color: #ef473a;
    margin: 0 15px;
}

.cadastro form .file label .nome{
    color: #555;
}

/* MEDIAS */
@media(min-width: 1000px){
    /* NAV */
    .menu{
        display: flex;
        transform: none;
    }
    /* CONTAINER */
    .container{
        padding-left: 275px;
    }
    /* edicao */
    .edicao .filtro{
        padding-left: 250px;
    }
}

@media(max-width: 1000px){
    /* ALERTA */
    .alerta{
        left: 25%;
    }
    /* CONTAINER */
    .container{
        padding: 100px 50px 0 50px;
    }
    /* EDICAO */
    /* BTN-FLOAT */
    .btn-float{
        display: flex;
    }
    /* pesquisa */
    .btn-pesquisa{
        display: none!important;
    }
}

@media(max-width: 900px){
    /* EDICAO */
    /* peca */
    .edicao .lista .peca{
        width: 29%;
        margin: 30px 2%;
    }
}

@media(max-width: 700px){
    /* CONTAINER */
    .container{
        padding: 75px 25px 0 25px;
    }
    /* EDICAO */
    /* peca */
    .edicao .lista .peca{
        width: 40%;
        margin: 30px 5%;
    }
}

@media(max-width: 500px){
    /* EDICAO */
    /* filtro */
    /* filtro-pecas */
    .edicao .filtro .filtro-pecas{
        height: 325px;
        transform: translateY(325px);
    }

    /* info */
    .edicao .filtro .filtro-pecas .info{
        flex-direction: column;
    }
    .edicao .filtro .filtro-pecas .info .campo{
        width: 100%;
    }
    /* peca */
    .edicao .lista .peca{
        width: 100%;
        margin: 30px 5%;
    }
}

/* KEYFRAMES */
@keyframes alerta{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    10%{
        opacity: 1;
        transform: translateY(30px);
    }
    90%{
        opacity: 1;
        transform: translateY(30px);
    }
    100%{
        opacity: 0;
        transform: translateY(40px);
    }
}