body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ALERTA */
.alerta{
    position: absolute;
    top: 0;
    background: #fff;
    border-radius: 100px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
    opacity: 0;
    animation: alerta 3s ease;
}

.alerta p{
    white-space: nowrap;
    margin: 10px 25px;
}

/* CONTAINER */
.container{
    width: 700px;
}

/* PROGRESSO */
.progresso{
    width: 100%;
    height: 150px;
    flex-direction: row;
}

.progresso .indicador{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    font-weight: 500;
    text-align: center;
    line-height: 1.2;
    white-space: nowrap;
}

.progresso .indicador strong{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #ef473a;
    border: 2px solid #ef473a;
    border-radius: 100%;
    box-shadow: 0px 0px 5px rgba(239, 71, 58, .8);
    margin-top: 20px;
}

.progresso .indicador:nth-child(3) strong{
    color: #ef473a;
    background: transparent;
}

.progresso .indicador strong::after{
    content: "";
    width: 125px;
    height: 2px;
    position: absolute;
    background: #ef473a;
    transform: translate(85%);
}

.progresso .indicador:nth-child(3) strong::after{
    content: none;
}

.progresso .indicador strong i{
    position: absolute;
    transition: .3s all;
}

.progresso .indicador strong i:nth-child(2){
    animation: load 1s ease infinite;
}

i.desativado{
    transform: translateY(5px)!important;
    opacity: 0!important;
}

/* LOCALIZACAO */
.localizacao{
    width: 100%;
    height: 300px;
}

/* MEDIAS */
@media(max-width: 700px){
    .progresso .indicador{
        font-size: .9rem;
    }
    .progresso .indicador strong::after{
        display: none;
    }
}


/* KEYFRAMES */
@keyframes alerta{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    10%{
        opacity: 1;
        transform: translateY(30px);
    }
    90%{
        opacity: 1;
        transform: translateY(30px);
    }
    100%{
        opacity: 0;
        transform: translateY(40px);
    }
}

@keyframes load{
    0%{
        transform: scale(.7);
    }

    50%{
        transform: scale(.9);
    }
    100%{
        transform: scale(.7);
    }
}